body {
  background-color: rgb(31, 21, 109);
  margin: 30px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardinfo {
  width: 320px;
  height: 480px;
  position: relative;
  /* overflow: hidden; */
}
/*------------ bgshiny start----------------- */

.cardinfo .infobg {
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: rgbanime 8s linear infinite;
  filter: blur(40px);
  opacity: 0;
  transition: 0.2s;
}
.cardinfo .infobg.infobgshow {
  opacity: 1;
}
@keyframes rgbanime {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 400%;
  }
}
.cardinfo .infobg.ssrank {
  background: linear-gradient(
    42deg,
    rgba(255, 46, 0, 1) 9%,
    rgba(232, 137, 4, 1) 18%,
    rgba(255, 235, 0, 1) 26%,
    rgba(52, 255, 0, 1) 37%,
    rgba(0, 255, 222, 1) 49%,
    rgba(0, 117, 255, 1) 62%,
    rgba(171, 0, 255, 1) 78%,
    rgba(253, 0, 0, 1) 91%
  );
  background-size: 400%;
}
.cardinfo .infobg.srank {
  background: linear-gradient(
    42deg,
    rgba(255, 188, 0, 1) 20%,
    rgba(253, 233, 0, 0.6755952380952381) 50%,
    rgba(255, 188, 0, 1) 79%
  );
  background-size: 400%;
}
.cardinfo .infobg.arank {
  background: linear-gradient(
    48deg,
    rgba(253, 187, 45, 1) 3%,
    rgba(34, 193, 195, 1) 49%,
    rgba(253, 187, 45, 1) 100%
  );
  background-size: 400%;
}
.cardinfo .infobg.brank {
  background: linear-gradient(
    48deg,
    rgba(182, 253, 45, 1) 3%,
    rgba(34, 195, 174, 1) 50%,
    rgba(88, 253, 45, 1) 100%
  );
  background-size: 400%;
}
.cardinfo .infobg.crank {
  background: linear-gradient(
    38deg,
    rgb(253, 243, 255) 23%,
    rgba(189, 148, 183, 0.625) 50%,
    rgb(255, 255, 255) 77%
  );
  background-size: 400%;
}
.cardinfo .infobg.drank {
  background: linear-gradient(
    34deg,
    rgba(64, 0, 78, 1) 23%,
    rgba(130, 0, 159, 1) 49%,
    rgba(45, 0, 55, 1) 77%
  );
  background-size: 400%;
}
.cardinfo .infobg.erank {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 28%,
    rgba(243, 0, 0, 1) 52%,
    rgba(0, 0, 0, 1) 78%
  );
  background-size: 400%;
}

/*------------ bgshiny end----------------- */
.cardinfo .cardanime {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 10px;
  top: 100px;
  z-index: 10;
}
.cardinfo .cardanime.boxshow {
  display: block;
}
.cardinfo .cardanime .animeimg {
  width: 150px;
  height: 300px;
  top: 0px;
  left: 75px;
  position: absolute;
  transform: rotate(0deg);
}
.cardinfo .cardanime .animeimg.boxhide {
  opacity: 0;
}
.cardinfo .cardanime .animeimg.runanime {
  left: 135px;
  animation: 1s boxAnime forwards;
}
.cardinfo .cardanime .animeimg img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@keyframes boxAnime {
  0% {
    transform: rotate(225deg);
  }
  25% {
    transform: rotate(235deg);
  }
  50% {
    transform: rotate(215deg);
  }
  75% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(225deg);
  }
}
.cardinfo .cardanime .stickanime {
  width: 10px;
  height: 80px;
  bottom: 20px;
  left: 75px;
  position: absolute;
  transform: rotate(225deg);
  overflow: hidden;
  opacity: 0;
}
.cardinfo .cardanime .stickanime.stickshow {
  animation: 2s stickyAnime forwards;
}
.cardinfo .cardanime .stickanime .stickyimg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
}
.cardinfo .cardanime .stickanime .stickyimg.sishow {
  animation: 2s stickyshow forwards;
}
@keyframes stickyAnime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes stickyshow {
  0% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
.cardinfo .card {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
}
.cardinfo .card img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.cardinfo .card img.cardimgshow {
  display: block;
}

.cardinfo .card .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/anime/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.cardinfo .card .bgshiny {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/anime/bgshiny.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0;
}
.cardinfo .card .bgshiny.bgshinyshow {
  animation: 2s bgshiny forwards;
}
@keyframes bgshiny {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.extrac {
  margin-top: -20px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  width: 320px;
  height: 50px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  z-index: 10;
}

.extrac:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.extrac:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.extrac:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.extrac.move {
  display: none;
}
